@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    background: #d3dce1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.outer {

    width: 100%;
    height: 100%;
    text-align: center;
}

.header {
    width: 100%;
    height: 58px;
    background-color: #03A9F4;
    border-radius: 10px 10px 0px 0px;
}

.authorisation {
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 27px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    bottom: 7px;
}

#email, #fio {
    width: 20%;
    padding: 0 9px;
}

#msg {
    width: 20%;
    padding: 7px 9px;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 25px;
    height: 40px;
    outline: 0;
    font-size: inherit;
    border-radius: 10px 10px 10px 10px;
}

button {
    height: 40px;
    width: 300px;
    margin: 30px;
    color: #504e49;
    font-size: 14px;
    font-weight: bolder;
}


input[type="text"] {
    background: lightcyan;
    color: #504e49;
}

input[type="email"] {
    background: lightcyan;
    color: #504e49;
}

textarea {
    background: lightcyan;
    font-size: inherit;
    border-radius: 10px 10px 10px 10px;
}

label {
    display: block;
    margin-right: 20px;
    color: #504e49;
}

#formMessage {
    width: 70%;
    background: lightcyan;
    margin: 10px auto;
    box-shadow: inset 3px 3px 1px gray;
    border-radius: 7px;
    color: #504e49;
}


.msg {
    text-align: left;
    padding: 10px;
    overflow-wrap: break-word;
}

#forName {
    width: 20%;
    margin-left: 283px;
    box-shadow: inset 3px 3px 3px 1px gray;
    border-radius: 7px;
    color: #504e49;
}

.name {
    text-align: left;
    padding: 10px;
    color: #504e49;
    font-weight: bolder;
    overflow-wrap: break-word;
}
